
<form (submit)="onLoginSubmit()">
  <h2 class="page-header">Manager Login</h2>
  <div class="form-group">
    <label>Manager Email ID</label>
    <input style='display:block;width:auto' type="text" class="form-control" [(ngModel)]="email" name="email">
  </div>
  <input type="submit" class="btn btn-primary" value="Manager Login">
</form>
