
  <h3>{{title}}</h3><br>
<button [disabled] = "! primarymanagers || primarymanagers.length==0" class="btn btn-info" (click)=saveResponse()>Assign</button>
<button [disabled] = "! primarymanagers || primarymanagers.length==0" class="btn btn-success" (click)=clearSearch()>Clear</button>
<button [disabled] = "! primarymanagers || primarymanagers.length==0" (click)="exportToExcel()" class="btn btn-primary">Export to excel</button>

<!-- This is not required 
  <div class="navbar-nav navbar-right">
<b>Mark All as  </b>
  <div class="checkbox" style="display: inline" *ngFor="let status of statusAll">
     <label>
       <input type="radio" name="status" (click)="setToRentControl(status.value)" [(ngModel)]="radioValue" [value]="status.value">
       <b>{{status.display}}</b>
       </label>
  </div>
</div> -->


  <!-- <a class="btn btn-danger" (click)="deleteApplication(primaryapplication._id)">Delete</a> -->
  <p></p>
    <p></p>
      <p></p>
   <p>Total Users List: {{ primarymanagers ? primarymanagers.length: '0' }}</p>
  <!-- <p>Filter List:  {{(primarymanagers|filterBy: userFilter).length}}</p> -->
<table class="table table-bordered table-striped">
   <thead>
   <tr>
     <th>Mark</th>
     <th>Manager</th>
     <th>Resource</th>
     <!-- <th class="col-sm-1">Initials</th> -->
     <th>LogonID</th>
       <!-- <th>User Location</th> -->
     <th>Application</th>
    <th>Status</th>
   </tr>
   </thead>
    <tr>
     <td>
       <input type="checkbox" (change)="selectAll($event)" id="all">All
       <!-- <input type="checkbox" name="all" [checked]="isAllChecked()" (change)="checkAll($event)"/> -->
       <!-- <input type='button' id='but_checkall' value='Check all' ng-click='checkAll()'>&nbsp;<input type='button' id='but_uncheckall' value='Uncheck all' ng-click='uncheckAll()'><br/> -->
     <!-- <input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" />-->
       <!-- <input type="checkbox" ng-model="all" id="all" name="all" (change)="onChange()"> Check all -->
       <!-- ng-true-value="'YES'" ng-false-value="'NO'" (change)="onChange($event)" type="checkbox">Select All
       <!-- <input type="checkbox" name="all"
                   [checked]="isAllChecked()" (change)="checkAll($event)"/>Select All -->
     </td>

     <td><input type="text" [(ngModel)]="userFilter.manager" placeholder="Manager"></td>
     <td><input type="text" [(ngModel)]="userFilter.surname" placeholder="Resource"></td>
     <!-- <td class="col-sm-1"><input type="text" [(ngModel)]="userFilter.initials" placeholder="Initials"></td> -->
     <td><input type="text" [(ngModel)]="userFilter.logonid" placeholder="LogonID"></td>
     <!--  <td><input type="text" [(ngModel)]="userFilter.userlocation" placeholder="User Location"></td> -->
     <td><input type="text" [(ngModel)]="userFilter.application" placeholder="Application"></td>
    <td><input type="text" [(ngModel)]="userFilter.status" placeholder="Status"></td>

  </tr>
   <tbody>
    <tr  *ngFor="let manager of primarymanagers | filterBy: userFilter | paginate: {itemsPerPage: 15, currentPage:page, id: '1'}; let i = index">
    <!-- <td>{{manager._id}}</td> -->
<!-- <div ng-repeat="manager in primarymanagers | filter:query as results">
<tr> (change)="updateChecked2(manager._id,$event)"  {{manager._id}}-->

<td>
 <input type="checkbox"  id="{{manager._id}}" (change)="updateChecked2(manager._id,event)">

  <!-- <input type="checkbox" value="{{size.id}}" [(ngModel)]="size.size"/> -->
   <!-- <input type="checkbox" ng-model="selectedAll" />-->
  <!--<input type="checkbox" ng-checked="selectAll" (change)="updateChecked2(manager._id,$event)">Option 2 -->
  <!-- <input type='checkbox' id="{{manager._id}}" (change)="updateChecked2(manager._id,$event)">{{manager._id}} -->
<!-- <input type="checkbox" ng-model="checkboxModel[$index]" value="{{manager._Id}}" ng-true-value="'YES'" ng-false-value="'NO'"> -->
 </td>


     <td>{{manager.manager}}</td>
     <td>{{manager.resource}}</td>
     <!-- <td>{{manager.initials}}</td> -->
     <td>{{manager.logonid}}</td>
     <!-- <td>{{manager.userlocation}}</td> -->
     <td>{{manager.application}}</td>
     <td>

     <select [(ngModel)]="manager.status" >
         <option  *ngFor="let product of products"
           [value]="product.name"
           [attr.selected]="manager.status==product.name ? true : null">
         {{product.name}}
         </option>
       </select>
</td>
    </tr>
    <tr *ngIf="! primarymanagers || primarymanagers.length==0">
      <td colspan="6" align="center"><b>No Records exist.</b></td>
    </tr>
   </tbody>
 </table>
<!-- <p>Showing {{filtered.length}} Records</p> -->


 <div class="centre">
<pagination-controls class="pagination-lg" (pageChange)="page = $event" id="1"
           maxSize="15"
           directionLinks="true"
           autoHide="true">
     </pagination-controls>`
</div>
