div.centre {
  width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}
