<div class="panel panel-default" >
<div class="panel-heading">Primary Cycle: Application Inscope</div>
<div class="panel-body">
  <form class="form-horizontal" *ngIf=primaryapplications>
<div class="form-group">
  <label for="applicationName" class="col-sm-2 control-label">Application Name : </label>
  <div class="col-sm-9">
    <p class="form-control">{{primaryapplications.applicationName}}</p>
  </div>
</div>
<div class="form-group">
  <label for="applicationOwner" class="col-sm-2 control-label">Application Owner : </label>
  <div class="col-sm-9">
   <p class="form-control">{{primaryapplications.applicationOwner}}</p>
  </div>
</div>
<div class="form-group">
  <label for="bu" class="col-sm-2 control-label">Business Unit : </label>
  <div class="col-sm-9">
   <p class="form-control">{{primaryapplications.bu}}</p>
  </div>
</div>
<div class="form-group">
  <label for="platform" class="col-sm-2 control-label">Platform : </label>
  <div class="col-sm-9">
    <p class="form-control">{{primaryapplications.platform}}</p>
  </div>
</div>
<div class="form-group">
  <label for="id" class="col-sm-2 control-label">Applications's ID : </label>
  <div class="col-sm-9">
    <p class="form-control">08df088d89dsfhjf87</p>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-8">

    <a class="btn btn-info" (click)="goBack()">Cancel</a>
  </div>

</div>
</form>

</div>
</div>
