  <h3>List of Managers</h3><br> 
	<button [disabled] = "! listmanagers || listmanagers.length==0" (click)="exportToExcel()" class="btn btn-primary">Export to excel</button>
<p>Total Managers: {{ listmanagers ? listmanagers.length: '0' }}</p>
<table class="table table-bordered" width="400">
		  <thead>
			<tr>
			  <th width="30%">Manager Email - ID</th>
			  <th width="10%" align="center">Action</th>
					</tr>
		  </thead>
		  <tbody>
        <tr>
          <td width="30%">
			  <input type="text" style="width:40%;" [disabled] = "! listmanagers || listmanagers.length==0" [(ngModel)]="userFilter.manager" placeholder="Manager Email - ID"></td>
          <td width="10%"></td>
        </tr>
				<tr  *ngFor="let manager of listmanagers  | filterBy: userFilter | paginate: {itemsPerPage: 10, currentPage:page, id: '1'}; let i = index">
					<td width="30%">{{manager.manager}}</td>
					<td width="10%">
						<a class="btn btn-success btn-sm"  routerLink="/managerchangeedit/{{manager._id}}">Edit</a>
					</td>
				 </tr>
				 <tr *ngIf="! listmanagers || listmanagers.length==0">
					<td colspan="2" align="center"><b>No Records exist.</b></td>
				  </tr>
		  </tbody>
		</table>
		<div class="centre">
		<pagination-controls class="pagination-lg" (pageChange)="page = $event" id="1"
			maxSize="10"
			directionLinks="true"
			autoHide="true">
		</pagination-controls>
	</div>
