
<form (submit)="onLoginSubmit()">
  <h2 class="page-header">Administrator Login</h2>
  <div class="form-group">
    <label>Username</label>
    <input style='width:auto' type="text" class="form-control" [(ngModel)]="username" name="username">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input style='display:block;width:auto' type="password" class="form-control" [(ngModel)]="password" name="password">
  </div>
  <input type="submit" class="btn btn-primary" value="Login">
</form>
