﻿<!doctype html>
  <html>
  <head>
    <meta charset="utf-8">
    <title>SAM recertification</title>
    <link rel="stylesheet" href="https://bootswatch.com/sandstone/bootstrap.min.css">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <style type="text/css">
        .form-container {
            width: 400px;
            margin: auto;
        }
        .credits {
            border-top: 1px solid #ddd;
            margin-top: 40px;
            padding-top: 20px;
        }
      </style>
  </head>
  <body>
