<input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader"/>
   <button type="button" class="btn btn-success btn-s"
                 (click)="uploader.uploadAll();">
           <span class="glyphicon glyphicon-upload"></span> Upload all
         </button><br />
 <p>Total Number of users uploaded: {{ primarymanagers ? primarymanagers.length: '0' }}</p>

         <table class="table table-bordered">
         		  <thead>
         			<tr>
         			  <td>Manager</td>
         			  <td>Surname</td>
         			  <td>Initials</td>
                <td>LogonID</td>
                <td>User Location/Region</td>
                <td>Application</td>
         			</tr>
         		  </thead>
         		  <tbody>
         			 <tr  *ngFor="let manager of primarymanagers">
         				<td>{{manager.manager}}</td>
         				<td>{{manager.surname}}</td>
         				<td>{{manager.initials}}</td>
                <td>{{manager.logonid}}</td>
                <td>{{manager.userlocation}}</td>
                <td>{{manager.application}}</td>
         			 </tr>
         		  </tbody>
         		</table>
