<div class="panel panel-default">
<div class="panel-heading">Manager Edit Form : You can edit an Manager's detail information into this SAM Apps.</div>
<div class="panel-body">
<form class="form-horizontal" (submit)="updateManager()">
<div class="form-group">
  <label for="mgr_name" class="col-sm-2 control-label">Manager Name : </label>
  <div class="col-sm-9">
    <input type="text" style='background-color:green;display:block;width:auto' class="form-control" [(ngModel)]="managers" name="managerName" >
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-8">
    <button type="submit" class="btn btn-success">Update</button>
     <a class="btn btn-info" (click)="goBack()">Cancel</a>
  </div>

</div>
</form>

</div>
</div>
