<input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader"  accept=".xlsx, .xls/>
   <button type="button" class="btn btn-success btn-s"
                 (click)="uploader.uploadAll();">
           <span class="glyphicon glyphicon-upload"></span> Upload all
         </button><br />
 <p>Total Number of users uploaded: {{ primaryusers ? primaryusers.length: '0' }}</p>

       <table class="table table-bordered">
         		  <thead>
         			<tr>
         			  <td>LogonID </td>
         			  <td>Application</td>
         			  <td>Region</td>
                <td>Name </td>

         			</tr>
         		  </thead>
         		  <tbody>
         			 <tr  *ngFor="let primaryuser of primaryusers">
         				<td>{{primaryuser.logonid}}</td>
         				<td>{{primaryuser.application}}</td>
         				<td>{{primaryuser.region}}</td>
                <td>{{primaryuser.name}}</td>

         			 </tr>
         		  </tbody>
         		</table>
