<p>Total Managers: {{ managers ? managers.length: '0' }}</p>
<table class="table table-bordered">
		  <thead>
			<tr>
			  <td>Manager Email</td>
			   <td width="275" align="center">Action</td>
			</tr>
		  </thead>
		  <tbody>
			 <tr  *ngFor="let managerlist of managers">
				<td>{{managerlist}}</td>
				<td width="275">
					<a class="btn btn-success"  routerLink="/editchangemanager/{{managerlist.managerlist}}">Edit</a>
				</td>
			 </tr>
		  </tbody>
		</table>
