.checkboxinsameline{
    display:inline;
}
.right {
    float:right;
    width:100px;
}
.center {
  float:right;
  width:200px;
}
.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}