
<h3>{{title}}</h3><br>
<button class="btn btn-info" id="submit" [disabled] ="! primarymanagers || primarymanagers.length==0" (click)=saveResponse()>Submit</button>
  <button class="btn btn-success" id="clear" [disabled] ="! primarymanagers || primarymanagers.length==0" (click)=clearSearch()>Clear</button>
  <button (click)="exportToExcel()" [disabled] ="! primarymanagers || primarymanagers.length==0" id="export" class="btn btn-primary">Export to excel</button>

<div class="navbar-nav navbar-right">
  <b>Mark All as  </b>
    <div class="checkbox" style="display: inline" *ngFor="let status of statusAll">
       <label>
         <input type="radio" name="status" (click)="setToRentControl(status.value)" [(ngModel)]="radioValue" [value]="status.value">
         <b>{{status.display}}</b>
         </label>
    </div>
  </div>


    <!-- <a class="btn btn-danger" (click)="deleteApplication(primaryapplication._id)">Delete</a> -->
     <p>Total Users List: {{filteredToatal}}/{{ primarymanagers ? primarymanagers.length: '0' }}</p>
    <!-- <p>Filter List:  {{(primarymanagers|filterBy: userFilter).length}}</p> -->

<table class="table table-bordered table-striped" id="filter_table_output1">
     <thead>
     <tr>
       <!-- <th>ID</th> -->
       <th>Manager</th>
       <th>Resource</th>
       <!-- <th class="col-sm-1">Initials</th> -->
       <th>LogonID</th>
       <th>User Location</th>
       <th>Application</th>
      <th>Status</th>
     </tr>
     </thead>
     <tr>
       <td><input type="text" [(ngModel)]="userFilter.manager" placeholder="Manager" (keyup)="myFunction()"></td>
       <td><input type="text" [(ngModel)]="userFilter.resource" placeholder="Resource" (keyup)="myFunction()"></td>
       <!-- <td class="col-sm-1"><input type="text" [(ngModel)]="userFilter.initials" placeholder="Initials"></td> -->
       <td><input type="text" [(ngModel)]="userFilter.logonid" placeholder="LogonID" (keyup)="myFunction()"></td>
       <td><input type="text" [(ngModel)]="userFilter.userlocation" placeholder="User Location" (keyup)="myFunction()"></td>
       <td><input type="text" [(ngModel)]="userFilter.application" placeholder="Application" (keyup)="myFunction()"></td>
      <td>&nbsp;
        <!-- <input type="text" [(ngModel)]="userFilter.status" placeholder="Status" (keyup)="myFunction()"> -->
      </td>

    </tr>
     <tbody>
     
      <tr *ngFor="let manager of primarymanagers  | filterBy: userFilter | paginate: {itemsPerPage: 10, currentPage:page, id: '1'};track let i = index"> 
       <!-- <td style="display: none;">{{manager._id}}</td> -->
<!-- <div ng-repeat="manager in primarymanagers | filter:query as results">
<tr> -->
    <td style="display: none;">{{manager._id}}</td><!-- this id used for saving the selected the into the database -->     
   <td>{{manager.manager}}</td>
       <td>{{manager.resource}}</td>
       <!-- <td>{{manager.initials}}</td> -->
       <td>{{manager.logonid}}</td>
       <td>{{manager.userlocation}}</td>
       <td>{{manager.application}}</td>
       <!-- <td>{{ (primaryapplications | filterBy: userFilter).length }}</td> -->
       <td>
       <select [(ngModel)]="manager.status" >
           <option  *ngFor="let product of products"
             [value]="product.name"
             [attr.selected]="manager.status==product.name ? true : null">
           {{product.name}}
           </option>
         </select>
  </td>

    </tr>
      <tr *ngIf="! primarymanagers || primarymanagers.length==0">
        <td colspan="6" align="center"><b>No Records exist.</b></td>
      </tr>
     </tbody>
   </table>
<!-- <p>Showing {{filtered.length}} Records</p> -->


   <div class="centre">
          <pagination-controls class="pagination-lg" (pageChange)="page = $event" id="1"
             maxSize="10"
             directionLinks="true"
             autoHide="true">
       </pagination-controls>`
</div>
<div hidden>
<table class="table table-bordered table-striped" id="filter_table_output">
  <thead>
  <tr>
    <!-- <th>ID</th> -->
    <th>Manager</th>
    <th>Resource</th>
    <!-- <th class="col-sm-1">Initials</th> -->
    <th>LogonID</th>
    <th>User Location</th>
    <th>Application</th>
   <th>Status</th>
  </tr>
  </thead>
 
  <tbody>
  
   <tr *ngFor="let manager of primarymanagers  | filterBy: userFilter; track let i = index" id="{{ i }}"> 
    <td style="display: none;">{{manager._id}}</td>     
    <td>{{manager.manager}}</td>
    <td>{{manager.resource}}</td>
    <td>{{manager.logonid}}</td>
    <td>{{manager.userlocation}}</td>
    <td>{{manager.application}}</td>
    
    <td>
    <select [(ngModel)]="manager.status" id="{{ 'status-' + i }}">
        <option  *ngFor="let product of products"
          [value]="product.name"
          [attr.selected]="manager.status==product.name ? true : null">
        {{product.name}}
        </option>
      </select>
  </td>
   </tr>  
  </tbody>
</table>
</div>