<div class="panel panel-default">
<div class="panel-heading">Application Edit Form : You can edit an Applications's detail information into this SAM Apps.</div>
<div class="panel-body">
<form class="form-horizontal" (submit)="updatePrimaryApplications()">
<div class="form-group">
  <label for="mgr_name" class="col-sm-2 control-label">Application Name : </label>
  <div class="col-sm-9">
    <input type="text" class="form-control" [(ngModel)]="primaryapplications.applicationName" name="applicationName" >
  </div>
</div>
<div class="form-group">
  <label for="position" class="col-sm-2 control-label">Application Owner : </label>
  <div class="col-sm-9">
    <input type="text" class="form-control" [(ngModel)]="primaryapplications.applicationOwner" name="applicationOwner">
  </div>
</div>
<div class="form-group">
  <label for="department" class="col-sm-2 control-label">Business Unit : </label>
  <div class="col-sm-9">
    <input type="text" class="form-control" [(ngModel)]="primaryapplications.bu" name="bu">
  </div>
</div>
<div class="form-group">
  <label for="salary" class="col-sm-2 control-label">Platform : </label>
  <div class="col-sm-9">
    <input type="text" class="form-control" [(ngModel)]="primaryapplications.platform" name="platform">
  </div>
</div>


<div class="form-group">
  <div class="col-sm-offset-2 col-sm-8">
    <button type="submit" class="btn btn-success">Update</button>
     <a class="btn btn-info" (click)="goBack()">Cancel</a>
  </div>

</div>
</form>

</div>
</div>
