<h4>
<!-- here we echo the title from the component -->
  <b>{{title}}</b>
</h4>

<div class="panel panel-default">
<div class="panel-heading">Manager Edit Form : You can edit an Manager's detail information into this SAM Apps.</div>
<div class="panel-body">
<form class="form-horizontal" (submit)="updateManager()">
<div class="form-group">
  <label for="mgr_name" class="col-sm-2 control-label">Manager Email - ID : </label>
  <div class="col-sm-4">
    <input type="text" class="form-control" [(ngModel)]="manager.manager" name="manager" >
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-1 col-sm-2">
    <button type="submit" class="btn btn-success">Update</button>
     <a class="btn btn-info" (click)="goBack()">Cancel</a>
  </div>

</div>
</form>

</div>
</div>
