
<h3>Manager Repsonses</h3><br>
<!-- <p>Dashboard under construction .... coming soon</p> -->
<button (click)="exportToExcel()" [disabled] ="! apps || apps.length==0" class="btn btn-primary">Export to excel</button>
<p>Total Managers: {{ apps ? apps.length-1: '0' }}</p>

<table class="table table-bordered table-striped" id="report">
     <thead>
     <tr>
       <!-- <th>ID</th> -->
       <th align="center">Manager</th>
       <th align="center">Total Users</th>
       <th align="center">Pending</th>
       <th align="center">Recertified</th>
       <th align="center">Expired</th>
       <th align="center">Removals</th>
       <th align="center">Leavers</th>
      <th align="center">No Change</th>
      <th align="center">Moved to Special Cycle</th>
      <th align="center">No Longer the Manager for User</th>
     </tr>
     </thead>
     <tbody>
       <tr  *ngFor="let primaryapplication of apps">
			  <td align="center"><b>{{primaryapplication.manager}}</b></td>
        <!-- ManagerReponse(primaryapplication.manager)<td> <button class="btn btn-warning" (click)="ngxSmartModalService.getModal('myModal').open()">{{primaryapplication.manager}}</button></td>
        --><td align="center" >
          <p style="color:Blue"> 
           <a *ngIf="primaryapplication.manager!='Total Counts'"  style="cursor:pointer;" data-toggle="modal" data-target="#myModal" (click)="ManagerReponse(primaryapplication.manager)">
            <b>{{primaryapplication.total}}</b>
          </a>
          <b *ngIf="primaryapplication.manager=='Total Counts'">{{primaryapplication.total}}</b>
          </p>
         </td>
        <td align="center" ><p style="color:Red"><b>{{primaryapplication.pending}}</b></p></td>
        <td align="center" ><p style="color:Brown"><b>{{primaryapplication.recertified}}</b></p></td>
        <td align="center" ><p style="color:Green">{{primaryapplication.expired}}</p></td>
        <td align="center" ><p style="color:Green">{{primaryapplication.removals}}</p></td>
        <td align="center" ><p style="color:Green">{{primaryapplication.leavers}}</p></td>
        <td align="center" ><p style="color:Green">{{primaryapplication.noChange}}</p></td>
        <td align="center" ><p style="color:Green">{{primaryapplication.movedToSpecial}}</p></td>
        <td align="center" ><p style="color:Green">{{primaryapplication.noLongerAssigned}}</p></td>
        </tr>
        <tr *ngIf="! apps || apps.length==0">
          <td colspan="10" align="center">No Records exist.</td>
        </tr>
     </tbody>
   </table>
    <!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" >
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!-- <p>{{primaryapplication.manager}}</p> -->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>Resource</th>
            <th>LogonID</th>
            <th>Application</th>
          </tr>
          </thead>
          <tbody>
              <tr *ngFor="let manager of primarymanagers | paginate: {itemsPerPage: 10, currentPage:page, id: '1'}"> 
                <td>{{manager.resource}}</td>
                <td>{{manager.logonid}}</td>
                <td>{{manager.application}}</td>
              </tr>
              <tr *ngIf="! primarymanagers || primarymanagers.length==0">
                <td colspan="3" align="center"><b>No Records exist.</b></td>
              </tr>
           </tbody>
        </table>
        <div class="centre">
          <pagination-controls class="pagination-lg" (pageChange)="page = $event" id="1"
             maxSize="10"
             directionLinks="true"
             autoHide="true">
          </pagination-controls>`
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

   <!-- <ngx-smart-modal #myModal identfier="myModal">
     <h1>title</h1>
     <p> Some stuff....</p>
     <button (click)="myModal.close()">Close</button>
  </ngx-smart-modal>


 <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">close</button>
      <h4 class="modal-title">{{title || 'Confirm'}}</h4>
    </div>
    <div class="modal-body">
      <p>{{message || 'Are you Sure??'}} </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="confirm()">OK</button>
      <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>  -->
