a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
a:active{
  text-decoration: underline;
  color:Blue;
}
.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}
