
<a class="btn btn-info" routerLink="/addprimaryapplications">Add Application</a>
 <p>Total Applications: {{ primaryapplications ? primaryapplications.length: '0' }}</p>

<table class="table table-bordered">
		  <thead>
			<tr>
			  <td>Application Name</td>
			  <td>Application Owner</td>
			  <td>Business Unit</td>
        <td>ExtractRecieved</td>
			  <td width="275" align="center">Action</td>
			</tr>
		  </thead>
		  <tbody>
			 <tr  *ngFor="let primaryapplication of primaryapplications">
				<td>{{primaryapplication.applicationName}}</td>
				<td>{{primaryapplication.applicationOwner}}</td>
				<td>{{primaryapplication.bu}}</td>
        <td>{{primaryapplication.extractRecieved}}</td>
				<td width="275">
					<a class="btn btn-info" routerLink="/showprimaryapplications/{{primaryapplication._id}}">Detail</a>
					<a class="btn btn-success"  routerLink="/editprimaryapplications/{{primaryapplication._id}}">Edit</a>
					<a class="btn btn-danger" (click)="deletePrimaryApplications(primaryapplication._id)">Delete</a>
				</td>
			 </tr>
		  </tbody>
		</table>
