
<!-- here we echo the title from the component -->
  <h3>{{title}}</h3><br>
<input type="file" name="photo" ng2FileSelect [uploader]="uploader" accept=".xlsx, .xls" multiple />
   <button type="button" class="btn btn-success btn-s" [disabled]="!uploader.getNotUploadedItems().length"
                   (click)="uploader.uploadAll();">
           <span class="glyphicon glyphicon-upload"></span> Upload Manager Extracts
         </button>
         <button (click)="exportToExcel()" [disabled] ="! primarymanagers || primarymanagers.length==0" class="btn btn-primary">Export All to excel</button>
         <button (click)="exportToExcelS()" [disabled] ="! primarymanagers || primarymanagers.length==0" class="btn btn-primary">Export Selected to excel</button>
         <br />
 <p>Total Number of users uploaded: {{ primarymanagers ? primarymanagers.length: '0' }}</p>
         <table class="table table-bordered table-striped">
         		  <thead>
         			<tr>
         			  <th>Manager</th>
         			  <th>Resource</th>
         			  <th>LogonId</th>
                <th>User Location/Region</th>
                <th>Application</th>
                <th>Access</th>
                <!-- <th>Email</th> -->
         			</tr>
         		  </thead>
         		  <tbody>
                <tr>
                  <td><input type="text" [(ngModel)]="userFilter.manager" placeholder="Manager"></td>
                  <td><input type="text" [(ngModel)]="userFilter.resource" placeholder="Resource"></td>
                  <td><input type="text" [(ngModel)]="userFilter.logonid" placeholder="LogonId"></td>
                  <td><input type="text" [(ngModel)]="userFilter.userlocation" placeholder="User Location"></td>
                  <td><input type="text" [(ngModel)]="userFilter.application" placeholder="Application"></td>
                  <td><input type="text" [(ngModel)]="userFilter.access" placeholder="Access"></td>
                  <!-- <td><input type="text" [(ngModel)]="userFilter.email" placeholder="Email"></td> -->
               </tr>
         			 <tr  *ngFor="let manager of primarymanagers | filterBy: userFilter | paginate: {itemsPerPage: 10, currentPage:page, id: '1'}; let i = index">

                <td>{{manager.manager}}</td>
         				<td>{{manager.resource}}</td>
         				<td>{{manager.logonid}}</td>
                <td>{{manager.userlocation}}</td>
                <td>{{manager.application}}</td>
                <td>{{manager.access}}</td>
                <!-- <td>{{manager.email}}</td> -->
               </tr>
               <tr *ngIf="! primarymanagers || primarymanagers.length==0">
                <td colspan="6" align="center"><b>No Records exist.</b></td>
              </tr>
         		  </tbody>
         		</table>


    <div class="centre">
        <pagination-controls class="pagination-lg" (pageChange)="page = $event" id="1"
              maxSize="10"
              directionLinks="true"
              autoHide="true">
        </pagination-controls>
   </div>

     <div id="report" hidden>
     <table class="table table-bordered table-striped" id="filter_table" >
           <thead>
           <tr>
             <th>Manager</th>
             <th>Resource</th>
             <th>LogonId</th>
             <th>User Location/Region</th>
             <th>Application</th>
             <th>Access</th>
             <!-- <th>Email</th> -->
           </tr>
           </thead>
           <tbody>
             <tr  *ngFor="let manager of primarymanagers | filterBy: userFilter ">
               <td>{{manager.manager}}</td>
               <td>{{manager.resource}}</td>
               <td>{{manager.logonid}}</td>
               <td>{{manager.userlocation}}</td>
               <td>{{manager.application}}</td>
               <td>{{manager.access}}</td>
               <!-- <td>{{manager.email}}</td> -->
             </tr>
            </tbody>
         </table>
     </div>
